@tailwind base;
@tailwind components;
@tailwind utilities;


.card-container{
    /* background-color: rgb(217 119 6); */
    background-image: url('https://images.unsplash.com/photo-1582407947304-fd86f028f716?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHw%3D&w=1000&q=80');
    background-size: cover;
}
 

.card{
    backdrop-filter: blur(20px);
}